.nav {
  display: grid;
  background-color: var(--color-bg-gray-dark);
  padding: 10px;
  box-shadow: 0px 4px 2px var(--color-bg-gray-darker);
}

.nav-left {
  justify-self: flex-end;
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
